<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div th:replace="navigation :: navbar"></div>
        <div th:replace="tableStyle :: style"></div>

        <table>
            <thead>
                    <tr>
                        <th >id:</th>
                        <th >name:</th>
                        <th >price:</th>
                        <th >producer id:</th>
                    </tr>
            </thead>
            <tbody>
                <tr th:if="${products.empty}">
                    <td colspan="2"> No Product Available </td>
                </tr>
                <tr th:each="product : ${products}">
                    <td><span th:text="${product.id}"> Id </span></td>
                    <td><span th:text="${product.name}"> Name </span></td>
                    <td><span th:text="${product.price}"> Price </span></td>
                    <td><span th:text="${product.producer.id}"> Producer id </span></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>