<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="navigation :: navbar"></div>

<form action="/user/createUser" method="post">
    <label for="email"> email: </label><br>
    <input type="text" id="email" name="email" required><br>
    <div th:if="${userError}">
        <h5>
            <div style="color:red" th:text="${userError}"></div>
        </h5>
    </div>
    <div th:if="${emailError}">
        <h5>
            <div style="color:red" th:text="${emailError}"></div>
        </h5>
    </div>
    <br>

    <label for="password"> password: </label><br>
    <input type="text" id="password" name="password" required><br>
    <div th:if="${passwordError}">
        <h5>
            <div style="color:red" th:text="${passwordError}"></div>
        </h5>
    </div>
    <br>

    <label for="password2"> password2: </label><br>
    <input type="text" id="password2" name="password2" required><br>
    <div th:if="${passwordDifError}">
        <h5>
            <div style="color:red" th:text="${passwordDifError}"></div>
        </h5>
    </div>
    <br>

    <label for="firstName"> first name: </label><br>
    <input type="text" id="firstName" name="firstName" required><br>
    <div th:if="${firstNameError}">
        <h5>
            <div style="color:red" th:text="${firstNameError}"></div>
        </h5>
    </div>
    <br>

    <label for="lastName"> last name: </label><br>
    <input type="text" id="lastName" name="lastName" required><br>
    <div th:if="${lastNameError}">
    <h5>
        <div style="color:red" th:text="${lastNameError}"></div>
    </h5>
</div>
    <br>

    <button type="submit">Create</button> <a  type="button"  href="/login" role="button"><button type="button"> Login </button></a><br><br>
</form>



<div th:if="${userCreate}">
    <h3>
        <div type="submit" th:text="${userCreate}"></div>
    </h3>
</div>

</body>
</html>