<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>navigation</title>
</head>
<body>
<div th:fragment="navbar">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/main">HW8</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Producer <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/producer/allProducer">All producer</a></li>
            <li><a href="/producer/createProducer">Create</a></li>
            <li><a href="/producer/updateProducer">Update</a></li>
            <li><a href="/producer/deleteProducer">Delete</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Product <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/product/allProduct">All product</a></li>
            <li><a href="/product/createProduct">Create</a></li>
            <li><a href="/product/updateProduct">Update</a></li>
            <li><a href="/product/deleteProduct">Delete</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> User <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user/allUser">All user</a></li>
            <li><a href="/user/createUser">Create</a></li>
            <li><a href="/user/updateUser">Update</a></li>
            <li><a href="/user/deleteUser">Delete</a></li>
          </ul>
        </li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
</body>
</html>